{{#each shelters as |shelter|}}
  {{log shelter}}

  <section class="shelter signed-in-view" data-id="{{shelter.id}}">
    <h4>
      {{shelter.name}}
    </h4>
    <p>
      <small>Location:</small> {{shelter.location}}
    </p>
    <p>
      <small>Phone:</small>
      <a href="tel:{{shelter.phone_num}}">{{shelter.phone_num}}</a>
    </p>
    <p>
      <small>Available Beds:</small> {{shelter.avail_beds}}
    </p>
    <!-- Button trigger modal -->
    <button type="button" class="btn update-btn btn submit" data-toggle="modal" data-target="#updateModal">
      Update Shelter
    </button>

    <!-- Modal -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel">Update Shelter:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="update-shelter-form">
              <div class="form-group">
                <label for="InputShelterName">Name of Shelter:</label>
                <input required type="text" name="shelter[name]" class="form-control" placeholder="Shelter Name">
              </div>
              <div class="form-group">
                <label for="InputShelterLocation">Address:</label>
                <input required type="text" name="shelter[location]" class="form-control" placeholder="Shelter Address">
              </div>
              <div class="form-group">
                <label for="InputShelterNumber">Phone Number:</label>
                <input required type="text" name="shelter[phone_num]" class="form-control" placeholder="Shelter Phone Number">
              </div>
              <div class="form-group">
                <label for="InputShelterBeds">Number of Available Beds:</label>
                <input required type="number" name="shelter[avail_beds]" class="form-control" placeholder="# of currently available beds">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn submit">Save Changes</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Nevermind</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Button trigger modal -->
    <button type="button" class=" btn submit" data-toggle="modal" data-target="#deleteModal">
      Delete Shelter
    </button>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="delteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Shelter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> Are you sure you want to delete your shelter FOREVER? </p>
          </div>
          <div class="modal-footer">
            <button type="button" class=" delete-btn btn submit">Yes, forever.</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">No.</button>
          </div>
        </div>
      </div>
    </div>
  </section>

{{/each}}
