{{#each shelters as |shelter|}}

  <section class="shelter signed-in-view" data-id="{{shelter.id}}">
    <h4>
      {{shelter.name}}
    </h4>
    <p>
      <small>Location:</small> {{shelter.location}}
    </p>
    <p>
      <small>Phone:</small>
      <a href="tel:{{shelter.phone_num}}">{{shelter.phone_num}}</a>
    </p>
    <p>
      <small>Available Beds:</small> {{shelter.avail_beds}}
    </p>
    <!-- Update Shelter Button trigger modal -->
    <button type="button" class="btn update-btn btn submit" data-toggle="modal" data-target="#updateModal-{{shelter.id}}">
      Update Shelter
    </button>

    <!-- Update Sheleter Modal -->
    <div class="modal fade" id="updateModal-{{shelter.id}}" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateModalLabel-{{shelter.id}}">Update Shelter:</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form class="update-shelter-form" data-id={{shelter.id}}>
              <div class="form-group">
                <label for="InputShelterName">Name of Shelter:</label>
                <input required type="text" name="shelter[name]" class="form-control" placeholder="Shelter Name" value={{shelter.id.name}}>
              </div>
              <div class="form-group">
                <label for="InputShelterLocation">Address:</label>
                <input required type="text" name="shelter[location]" class="form-control" placeholder="Shelter Address">
              </div>
              <div class="form-group">
                <label for="InputShelterNumber">Phone Number:</label>
                <input required type="tel" name="shelter[phone_num]" class="form-control" placeholder="Shelter Phone Number">
              </div>
              <div class="form-group">
                <label for="InputShelterBeds">Number of Available Beds:</label>
                <input required type="number" min='0' name="shelter[avail_beds]" class="form-control" placeholder="# of currently available beds">
              </div>
              <input type="submit" class="btn submit" value="Save Changes">
            </form>
          </div>
          <div class="modal-footer">
            <p class="modal-update-msg"></p>
            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Button trigger modal -->
    <button type="button" class=" btn submit" data-toggle="modal" data-target="#deleteModal-{{shelter.id}}">
      Delete Shelter
    </button>

    <!-- Delete Modal -->
    <div class="modal fade deleteModal" id="deleteModal-{{shelter.id}}" tabindex="-1" role="dialog" aria-labelledby="delteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title deleteModalLabel" id="deleteModalLabel-{{shelter.id}}">Delete Shelter</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p> Are you sure you want to delete your shelter FOREVER? </p>
          </div>
          <!-- <form class="delete-shelter-form" data-id={{shelter.id}}> -->
          <div class="modal-footer">
            <p class="modal-delete-msg"></p>
            <button type="button" class="delete-btn btn submit delete-shelter-button" data-id={{shelter.id}} data-dismiss="modal">Yes, forever.</button>
            <button type="button" class="btn btn-secondary close" data-dismiss="modal">Close</button>
          </div>
        <!-- </form> -->
        </div>
      </div>
    </div>
  </section>

{{/each}}
